# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = amazontest.settings

[deploy:amazon_prd]
url = http://172.17.0.2:6800/
project = amazon_prd
